<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Baek's biopage</title>
</head>
<body>
    <div class="app">
        <div id="container">
            <nav class="j_navigator">
                <h3 class="logo"><a class="logo" href="/">MSF Project Team</a></h3>
                <ul>
                    <li><a class="nav-menu" href="/">Home</a></li>
                    <li><a class="nav-menu" href="/baek">Baek Jieun</a></li>
                    <li><a class="nav-menu" href="/gaukhar">Gaukhar</a></li>
                </ul>
            </nav>

            <div class="bio-info">
                <img class="biopic" src="images/bio0.JPG">
                <div class="introduction">
                    <h2>About Me</h2>
                    <p> Hello I am Baek Jieun, I was born in Korea and I'm learning design and coding in the interactive media course at Fanshawe College. In this project, I'll focus on overall design and do my best to fulfillment. </p><br>
                    <h2>2021 MSF Project</h2>
                    <p>I think MSF campaign project is more meaningful at this juncture. One of the NGOs that has a massive hopeful effects on people in need. I think it's important to create web pages and designs that deliver exactly what they do. In this project, I am going to design the logo and motion stuff. </p>
                    <h2>Roles</h2>
                    <p class="roles">Graphic Design <br> Motion Design</p>
                </div>
            </div>

            <div class="goal-container">
                <h5 class="goals">Project Goals</h5>
                <h2>1. UI & UX</h2>
                <p>Think about the purpose of a website that introduces and promotes an organization and create a website by accurately distinguishing it from emphasizing that users can quickly read accurate information.<br>
                Digitize the exact data, transfer it on a graph, and make it into a page so that people can just scroll it down and watch them.</p>
                <h2>2. Promotional Message</h2>
                <p>MSF, an organization created with the intention of citizens to solve things that the government cannot solve, has long followed its will by adjusting the ratio of private sponsorship higher than corporate sponsorship. In fact, we will emphasize that more than 90% of their sponsorship is private sponsorship so that people can participate in the campaign by informing them that they can do many things with the help of individuals other than crowded people.</p>
                <h2>3. Cooperative Attitude</h2>
                <p> It's really meaningful to finish a project with other classmate in my last semester. Everyone can start, but I know that it's difficult to finish. I think it's an opportunity to practice the steps right before going into real society. I want to grow up by sharing creative ideas and helping each other. I think everyone has the same purpose and if I do it sincerely, there can get good results.</p>
            </div>

            <footer class="j_footer">
                <h3 class="contact">CONTACTS</h3>
                <div class="links">
                    <a class="linken" href="https://www.linkedin.com/in/jieun-baek-7b080022b/">Linken</a>
                    <a class="github" href="https://github.com/jieunn01">Github</a>
                    <p>© 2022 NGO team Baek Jieun</p>
                </div>
            </footer>
        </div>
    </main>
</body>
</html>
