<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Baek's biopage</title>
</head>
<body>
    <div class="app">
        <div id="container">
            <nav class="j_navigator">
                <h3 class="logo"><a class="logo" href="/">MSF Project Team</a></h3>
                <ul>
                    <li><a class="nav-menu" href="/">Home</a></li>
                    <li><a class="nav-menu" href="/baek">Baek Jieun</a></li>
                    <li><a class="nav-menu" href="/gaukhar">Gaukhar</a></li>
                </ul>
            </nav>

    <section class="pages">
        <div class="page is-active" data-page="Gaukhar">
            <h2>Issakhanova Gaukhar</h2>
            <section class="mainBox">
              <img src="images/gaukhar.jpg" alt="gaukhar">
              <section class="textBox">
                <p>
                  Hi. I am a student of Fanshawe College. My specialty is Interactive Media Design. I started to learn developing and design in January and finish my third semester. I learned HTML, CSS,JS and a little Vue. I am also learning programs such as Photoshop, Illustrator, Adobe XD and Cinema 4D.
                </p>

                <form action="mailto:gauharaisahanova@gmail.com" target="_blank">
                  <button><b>Contact us</b></button>
                 </form>
              </section>
            </section>
        </div>
    </section>
  </main>
</body>
</html>