<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">

    <title>MSF Project Bio Page</title>
</head>
<body>
    <main class="app">
        <div id="container">
            <nav class="j_navigator">
                <h3 class="logo"><a class="logo" href="/">MSF Project Team</a></h3>
                <ul>
                    <li><a class="nav-menu" href="/">Home</a></li>
                    <li><a class="nav-menu" href="/baek">Baek Jieun</a></li>
                    <li><a class="nav-menu" href="/gaukhar">Gaukhar</a></li>
                </ul>
            </nav>
        </div>
        <div class="mainCon">
            <img src=images/MSF.png class="msf" alt="msf logo">
            <h2>Introduce our 2022 NGO Team</h2>
                <a href="/baek"><img src="images/main-icon1.png" class="icon1"></a>
            <h3>🇰🇷 Jieun Baek</h3>
            <span>Graphic Designer</span>
            <span>Motion Designer</span>
            <span>Front-end Developer</span>
            <p>Hello I am Jieun, Click the image to see my profile, or add /baek in the url address</p>
        </div>
        </header>

        <footer class="j_footer">
            <h3 class="contact">CONTACTS</h3>
            <div class="links">
                <a class="linken" href="https://www.linkedin.com/in/jieun-baek-7b080022b/">Linken</a>
                <a class="github" href="https://github.com/jieunn01">Github</a>
                <p>© 2022 NGO team Baek Jieun</p>
            </div>
        </footer>
    </main>
</body>
</html>