.error {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-top: 0;
}

.error img {
    width: 80%; 
    margin: 0;
    padding: 0;
 
    z-index: 2;
 }

.error h2{
    font-size: 100px;
    color: #BC5210;
    
        z-index: 1;
}

@media screen and (max-width: 991px) {
    .error h2{
        font-size: 50px;
    }   

    .error {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    }
}